*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  list-style: none;
}

.about{
  padding: 120px 0;
  color: #fff;
  background-color: #0c0f16;
  /* line-height: 1.5;
  font-weight: 400; */
  overflow-x: hidden !important;
}

.about .container{
  max-width: 1200px;
}

.about .container .valign{
  display: flex;
  align-items: center;
}

.about .container .cmd-padding{
  padding: 0 10px;
}

.about .img-mons .img1 , .about .img-mons .img2 , .about .img-mons .img3{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

.about .img-mons img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.about .img-mons .img1{
  height: 200px;
}

.about .img-mons .img2{
  height: 240px;
}

.about .img-mons .img3{
  height: 200px;
  width: 75%;
  margin-top: 20px;
}

.about .content .subtitle{
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
}

.about .content .subtitle h6{
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.about .content .subtitle span{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #75dab4;
  position: absolute;
  left: 6px;
  bottom: 5px;
  display: inline-block;
}

.about .content .subtitle span:first-of-type{
  bottom: 11px;
}

.about .content .subtitle span:last-of-type{
  left: 0px;
}

.about .content .main-title{
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 35px;
}

.about .content .text{
  color: #c8c8c8;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.8;
}

.about .content .ftbox{
  margin-top: 30px;
}

.about .content .ftbox ul{
  display: flex;
}

.about .content .ftbox ul li{
  width: 100%;
  padding: 35px 25px;
  text-align: center;
  background-color: #11141b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  margin-right: 10px;
}

.about .content .ftbox ul li:last-of-type{
  margin-right: 0;
}

.about .content .ftbox ul li .icon{
  color: #75dab4;
  font-size: 25px;
  margin-bottom: 20px;
}

.about .content .ftbox ul li .custom-font{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

.about .content .ftbox ul li .dots span{
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #eee;
  position: absolute;
  right: 10px;
  bottom: 12px;
  opacity: .1;
  display: inline-block;
}

.about .content .ftbox ul li .dots span:first-of-type{
  bottom: 18px;
}

.about .content .ftbox ul li .dots span:last-of-type{
  right: 16px;
}